<template>
  <div>
    <b-nav vertical>
      <b-button-group vertical>
        <b-button variant="light"><router-link to="">หน้าหลัก</router-link></b-button>
        <b-button variant="light"><router-link to="">เข้าสู่ระบบ</router-link></b-button>
        <b-button variant="light"><router-link to="">จัดการบัญชีผู้ใช้</router-link></b-button>
        <b-button variant="light"><router-link to="">จัดการประกาศ</router-link></b-button>
        <b-button variant="light"
          ><router-link to="">จัดการสถานประกอบการ</router-link></b-button
        >
        <b-button variant="light"><router-link to="">จัดการนิสิต</router-link></b-button>
        <b-button variant="light"><router-link to="">จัดการสถานะสหกิจ</router-link></b-button>
        <b-button variant="light"><router-link to="">จัดการการอบรมสหกิจ</router-link></b-button>
        <b-button variant="light"
          ><router-link to="">จัดการชั่วโมงอบรมนิสิต</router-link></b-button
        >
        <b-button variant="light" enable><router-link to="/addprofessor">จัดการอาจารย์</router-link></b-button>
        <b-button variant="light"
          ><router-link to="">เพิ่มอาจารย์ที่ปรึกษา</router-link></b-button
        >
        <b-button variant="light"><router-link to="">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light"
          ><router-link to="">เกี่ยวกับสหกิจศึกษา</router-link></b-button
        >
        <b-button variant="light"><router-link to="">ติดต่อ</router-link></b-button>
      </b-button-group>
    </b-nav>
  </div>
</template>
